.menuContainer{
    height:100vh;
    padding: 10px;
    background:#18A0FB;
    position:sticky;
    top:0;
}

.menuContainerDesc{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    text-decoration: none;
}

.menuAsset{
font-family: "Roboto";
font-size: 30px;
font-style: normal;
font-weight: 900;
color: #787575;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;

}

.menuHouse{
    margin-top: 10px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #787575;
   
}

.menuItem span{
    margin-left: 10px;
}

.closed span{
    display: none;
    visibility:hidden;
}


.secondMenu{
    width: 100%;
    height: 1px;
    background-color: gray;
}

.menuItem .MuiSvgIcon-root{
    color: #fff;
}


