.passwordsentContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.passwordContainerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.passwordsentContainerTitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #18a0fb;
}

.passwordContainerWrapper-title {
  margin: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #15bf1c;
}
