.maindashboardContainer{
height:100vh;
display: flex;
}
.maindashboardContainerMenu{
    flex: 1;
}

.maindashboardContainerMenuClosed{
    width:50px;
}

.maindashboardContainerDashboard{
    flex: 5;
    background-color: #f5f5f5;
}

.maindashboardContainerDashboardClosed{
    width:calc(100vw - 50px);
    
}