.resetPasswordContainer{
    padding:10px;
}


.resetPasswordWrapper{
    display:flex;
}

.resetPasswordContainer-title{
margin: 20px;
font-family: 'Open Sans', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #18A0FB;
}


.resetPasswordContainer-lock, .resetPasswordContainer-input{
   flex: 1; 
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: calc(100vh - 70px);
}

.resetPasswordContainer-input span{
height: 49px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #000000;
}
