.sendEmailContainer{
    position:relative;
    
}

.SendEmailWrapper{
    top: 50px;
    height:calc(100vh - 50px);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputIcon{
    position: relative;
    
}

.inputIcon img{
    position: absolute;
    top: 12px;
    right: 10px;
}

