.menLate{
margin-left: 10px;
width: 400px;
display: flex;
align-items: center;
padding: 10;
margin: 0 0 0 0;
}

.menLate li {
    display: inline-block;
    margin-right: 10px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }



